{{#if updateStoryForm}}
  <h4>Update {{story.title}}</h4>
  <div class="new-story">
    <form>
      <div class="form-group">
        <label for="title">Story Title</label>
        {{input value=title id="new_title" placeholder=story.title}}
      </div>

      <div class="form-group">
        <label for="body">Story Body</label>
        {{input value=body id="new_body" placeholder=story.body}}
      </div>

      <div class="form-group">
        <label for="image">Image URL</label>
        {{input value=image id="new_image" placeholder=story.image}}
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="new_author" placeholder=story.author}}
      </div>

      <div class="form-group">
        <label for="date">Date</label>
        {{input value=date id="new_date" placeholder=story.date}}
      </div>

      <div class="form-group">
        <label for="featured">Featured</label>
        {{input value=featured id="new_featured" placeholder=story.featured}}
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        {{input value=category id="new_category" placeholder=story.category}}
      </div>

      <button class="btn btn-success" {{action 'update' story}}>Save</button>
    </form>
  </div>
{{else}}
  <button class="btn btn-default" {{action 'updateStoryForm'}}>Update</button>
{{/if}}
